In [1]:
import mysql.connector

In [2]:
# Make a connection with the DB
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123",
  database="pytest_db"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000227889970E0>

In [3]:
# Used to execute statements
mycursor = mydb.cursor()

In [ ]:
# Creates a DB called pydb_test
mycursor.execute("CREATE DATABASE pydb_test")

In [4]:
# Shows all the DB in MySQL
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('dbms',)
('gcash',)
('information_schema',)
('mydatabase',)
('mydb',)
('mysql',)
('performance_schema',)
('pytest_db',)
('sys',)
('ubeltexpress',)

In [8]:
# Create a table 
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

# Show if table exist
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

In [7]:
# Drop a table 
mycursor.execute("DROP TABLE customers")

# Show if table exist
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

In [ ]:
# Insert row

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [11]:
# Insert multiple rows
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [12]:
# Select all from a table
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')

In [ ]:
# Select only specific col in a table
mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John',)
('John',)
('Peter',)
('Amy',)
('Hannah',)
('Michael',)
('Sandy',)
('Betty',)
('Richard',)
('Susan',)
('Vicky',)
('Ben',)
('William',)
('Chuck',)
('Viola',)

In [ ]:
# Filter using WHERE
sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ben', 'Park Lane 38')

In [4]:
# Wild card characters
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('John', 'Highway 21')
('Susan', 'One way 98')
('Viola', 'Sideway 1633')

In [5]:
# Prevent SQL injections by using the % symbol
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2')

In [6]:
# Order by name
sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652')
('Ben', 'Park Lane 38')
('Betty', 'Green Grass 1')
('Chuck', 'Main Road 989')
('Hannah', 'Mountain 21')
('John', 'Highway 21')
('John', 'Highway 21')
('Michael', 'Valley 345')
('Peter', 'Lowstreet 4')
('Richard', 'Sky st 331')
('Sandy', 'Ocean blvd 2')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Viola', 'Sideway 1633')
('William', 'Central st 954')

In [7]:
# Order name in descending order
sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('William', 'Central st 954')
('Viola', 'Sideway 1633')
('Vicky', 'Yellow Garden 2')
('Susan', 'One way 98')
('Sandy', 'Ocean blvd 2')
('Richard', 'Sky st 331')
('Peter', 'Lowstreet 4')
('Michael', 'Valley 345')
('John', 'Highway 21')
('John', 'Highway 21')
('Hannah', 'Mountain 21')
('Chuck', 'Main Road 989')
('Betty', 'Green Grass 1')
('Ben', 'Park Lane 38')
('Amy', 'Apple st 652')